<div class="header">
    <div class="logo">
        <i class="fa-brands fa-pinterest"></i>
    </div>
    <div class="links">
        <a href="">INICIO</a>
        <a href="">EXPLORAR</a>
        <a href="">CREAR  <i class="fa-sharp fa-solid fa-angle-down"></i></a> 
    </div>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar">
    </div>
    <div class="icons">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-comment-dots"></i>
        <i class="fa-solid fa-circle-user"></i>
    </div>
</div>
<app-images></app-images>
  