<div class="wrapper">
    <div class="body">
      <img class="logo" src="../../../assets/img/recuperar.png" alt="login" />
      <h1>Recuperar</h1>
      <form action="">
        <div class="form-floating mb-3 mt-3">
          <input
            type="email"
            class="form-control"
            placeholder="name@example.com"
          />
          <label>Email </label>
        </div>
        
        <div class="d-grid gap-2 mb-3">
          <button class="btn btn-info btn-lg" type="button">Recuperar</button>
        </div>
        
        <a routerLink="/login">Volver</a>
      </form>
    </div>
  </div>
  