<div class="wrapper">
    <div *ngIf="!loading"class="body">
      <img class="logo" src="../../../assets/img/recuperar.png" alt="login" />
      <h1>Recuperar</h1>
      <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
        <div class="form-floating mb-3 mt-3">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="name@example.com"
          />
          <label>Email </label>
          <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es invalido
        </span>
      
        </div>
        
        <div class="d-grid gap-2 mb-3">
          <button type="submit" class="btn btn-info btn-lg" [disabled]="recuperarUsuario.invalid">Recuperar</button>
        </div>
        
        <a routerLink="/login">Volver</a>
      </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
  