<app-header></app-header>
<div class="div-body">
<form action method="post">
    <h1>Subir imagen...</h1>
    <div class="form-group">
      <label for="title">Nombre <span>Use title case to get a better result</span></label>
      <input type="text" name="title" id="title" class="form-controll"/>
    </div>
    <div class="form-group">
      <label for="caption">Descripcion <span>This caption should be descriptiv</span></label>
      <input type="text" name="caption" id="caption" class="form-controll"/>
    </div>

    <div class="form-group file-area">
          <label for="images">Imagen. <span>Your images should be at least 400x300 wide</span></label>
      <input type="file" name="images" id="images" required="required" multiple="multiple"/>
      <div class="file-dummy">
        <div class="success">Great, your files are selected. Keep on.</div>
        <div class="default">Please select some files</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit">Subir Imagen</button>
    </div>

  </form>

</div>
