<div class="header">
    <div class="logo">
        <i class="fa-brands fa-pinterest"></i>
    </div>
    <div class="links">
        <a >INICIO</a>
        <a href="">EXPLORAR</a>
        <div class="dropdown">
            <button>CREAR <i class="fa-sharp fa-solid fa-angle-down"></i></button>
            <div class="dropdown-options">
              <button  (click)="openModal()">Crear folder</button>
              <a href="/subir-imagen" >Subir imagen</a>
            </div>
        </div>
    </div>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar">
    </div>
    <div class="icons">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-comment-dots"></i>
        <div class="dropdown"><i class="fa-solid fa-circle-user"></i><label class="fs-5 text-muted">{{ dataUser?.email }}</label>
            <div class="dropdown-options">
                <a><button type="button" (click)="logOut()">Cerrar sesión</button></a>
              </div>
        </div>
    </div>
</div>

<div *ngIf="modalSwitch == true">
    <app-modal></app-modal>
</div>

  